build-untitled-Desktop_Qt_5_12_9_MSVC2015_64bit-Debug/
Laba2/
Project1/
Project2/
Project3/
Project4/
Project5/
Project6/
Project7/
Project8/
untitled/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app